doctype html
html(lang="en")
  head
    title= pageTitle
    script(type="application/javascript", src='../../testBin-compiled.js')
  body
    h1 TeFlow
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!